*{
    margin: 0;
    padding: 0;
}

.body{
    height: 200vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_center{
    height: 200vh;
    width: 1000px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box{
    text-align: left;
}

