* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    /* display: flex; */
    
}

.container {
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
}  

.content {
    align-items: flex-end;
    display: flex;
    margin-top: 72px;
    justify-content:flex-start;
    text-align: left;
    flex-direction: column;
    max-width: 100%;
}

.content > div {
    width: 100%;
}

.titlepag {
    margin-top: -16px;
    margin-left: -16px;
    font-size: 24px;
    color: #D8C4E5;
    font-family: 'Conthrax Regular';
}

.subtitle {
    margin-top: 64px;
}

.input {
    margin-top: 62px;
    /* display: flex;
    flex-direction: column; */
}
.titleinput {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    margin-bottom: 8px;

}

.btninput {
    color: #fff;
    background-color: #492C79;
    padding: 8px 20px;
    font-family: 'Source Sans Pro';
    cursor: pointer;
    transition: all 700ms ease;
    font-size: 13px;
    padding: 16px 64px;
    border: 0;
    width: 240px;
}

.inputsCadastro {
    display: flex;
    width: 40%;
    flex-direction: row;
    color: #fff;
    background-color: transparent;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;

    border-radius: 2px;
    padding-left: 10px;
    border-color: white;

}

.inputsCadastroG {
    color: #fff;
    background-color: transparent;
    height: 137px;
    width: 100%;
    margin-bottom: 20px;

    border-radius: 2px;
    padding-left: 10px;
    border-color: white;
}

.fileSelect {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 20px;
}

.fileSelect .inputsCadastro {
    margin-bottom: 0 !important;
}

.fileSelect > div {
    width: 100%;
}

.fileSelect > button {
    padding: 0 !important;
    height: 40px !important;
}

.inputRow {
    display: flex;
    gap: 24px;
}

.inputRow > div {
    width: 100%;
}