* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    /* display: flex; */
    
}

.container {
    min-height: 100vh;
}  

.content {
    display: flex;
    margin-left: 90px;
    margin-top: 72px;
    justify-content:flex-start;
    text-align: left;
    /* flex-direction: row; */
}

.containertext {
    display: flex;
    flex-direction:column;
    gap: 24px;
}

.titlepag {
    margin-top: -16px;
    margin-left: -16px;
    font-size: 24px;
    color: #D8C4E5;
    font-family: 'Conthrax Regular';
}

.subtitle {
    margin-top: 160px;
    font-family:'Conthrax Regular';
    color: #fff;
    font-size: 32px;
}

.text {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    padding: 0 !important;
    margin-top: 40px;
    color: white;
}

.hero {
    display: flex;
    margin: 0 auto;
    margin-bottom: 187px;
    width: 80%;
}

.imagecontainer {
    display: flex;
    flex: 1;
    align-items: center;
    
    flex-direction: column;
}

.imagemock {
    background-color: #D8C4E5;
    background: linear-gradient(16.28deg, #000000 -41.06%, #321f52 72.61%);
    
    width: 323px;
}

.snap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.buttonsnap {
    margin-top: 74px;
    color: #fff;
    background: transparent;
    padding: 24px 32px;
    font-family:'Source sans pro';
    border: 1.5px solid #fff;
    cursor: pointer;
    transition: all 700ms ease;
    font-size: 16px;
    width: 300px;
}

.subtitle2 {
    margin-top: 187px;
    color: #fff;
    font-size: 32px;
}

.video {
    margin: 0 auto;
    width: 80%;
}

.video > video {
    width: 100%;
}